.hospital-hero {
    width: auto;
    height: 116px;
    background-color: var(--color-background);
    border-left: 4px solid var(--color-line-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hospital-hero h1 {
    color: var(--color-text-primary);
    margin-left: var(--spacing-xl);
}

.hospital-hero p {
    color: var(--color-text-sub1);
    font-size: var(--font-size-base);
    margin-left: var(--spacing-xl);
}

.hospital-search {
    display: flex;
    width: 400px;
    height: 60px;
    background-color: var(--color-background-search);
    font-size: var(--font-size-xxl);
    border: none;
    border-radius: var(--radius-xxl);
    align-items: center;
    margin-right: var(--spacing-xxl);
}

.hospital-search i {
    padding: 10px;
    color: var(--color-text-sub2);
    cursor: pointer;
}

.hospital-content {
    display: flex;
    min-height: 505px;
    flex-grow: 1;
}

.hospital-map {
    position: relative;
    width: 50%;
    height: 588px;
}

.hospital-legend {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: var(--z-modal);
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-sm) var(--spacing-lg);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: var(--radius-xl);
}

.hospital-marker-list > li:nth-child(1)::marker {
    color: var(--color-firefighter);
}

.hospital-marker-list > li:nth-child(1) {
    color: var(--color-firefighter);
}

.hospital-marker-list > li:nth-child(2)::marker {
    color: var(--color-medical);
}

.hospital-marker-list > li:nth-child(2) {
    color: var(--color-medical);
}

.hospital-marker-list > li:nth-child(3)::marker {
    color: var(--color-gover);
}

.hospital-marker-list > li:nth-child(3) {
    color: var(--color-gover);
}

.hospital-marker-list > li:nth-child(4)::marker {
    color: var(--color-civil);
}

.hospital-marker-list > li:nth-child(4) {
    color: var(--color-civil);
}

.hospital-panel {
    width: 50%;
    height: 100%;
}

.hospital-panel-top {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.hospital-panel-right {
    display: flex;
}

.hospital-panel-right h1 {
    color: var(--color-text-primary);
    font-size: var(--font-size-xxl);
    margin-top: var(--spacing-xs);
}

.hospital-panel-right h3 {
    display: flex;
    background-color: var(--color-background-dropdown);
    color: var(--color-text-third);
    border: none;
    border-radius: var(--radius-pill);
    width: 44px;
    height: 22px;
    font-size: var(--font-size-sm);
    align-items: center;
    justify-content: center;
    margin-left: var(--spacing-sm);
    margin-top: var(--spacing-md);
}

.hospital-panel-left {
    display: flex;
}

.hospital-sort-btn {
    display: flex;
    width: 78px;
    height: 26px;
    background-color: var(--color-background-search);
    color: var(--color-text-sub1);
    border: none;
    border-radius: var(--radius-pill);
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-md);
    margin-left: var(--spacing-xs);
    margin-right: var(--spacing-lg);
    cursor: pointer;
}

.active {
    background-color: var(--color-background-btn);
    color: var(--color-text-sub3);
}

.hospital-panel-list {
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
    border: none;
    border-radius: var(--spacing-md);
    margin: 0 auto; 
    width: 90%;
    height: 488px;
    padding-top: var(--spacing-sm);
    overflow-y: auto;
}

#txt-search {
    color: var(--color-text-primary);
    background-color: transparent;
    border: none;
    width: 320px;
    outline: none;
}

#txt-search::placeholder {
    color: var(--color-text-sub2);
}

#btn-search {
    background-color: var(--color-background-btn);
    border: none;
    border-radius: var(--radius-xxl);
    color: var(--color-text-sub3);
    width: 60px;
    height: 40px;
    margin-right: var(--spacing-md);
    cursor: pointer;
}

@media (max-width: 768px) {
    .hospital-hero {
        display: none;
    }

    .hospital-content {
        width: 100%;
        height: 100%;
    }

    .hospital-panel {
        display: none;
    }

    .hospital-map {
        width: 100%;
    }

    .hospital-search {
        margin-top: var(--spacing-sm);
        margin-right: 0;
        width: 80%;
        height: 40px;
        font-size: var(--font-size-base);
    }

    .hospital-panel-list {
        flex: 1;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    #btn-search {
        width: 15%;
        height: 30px;
        margin-right: var(--spacing-md);
        font-size: var(--font-size-base);
    }
}
