/* 상단 검색창 */
.medicine-hero {
    background-color: var(--color-background);
    border-left: 4px solid var(--color-line-primary);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medicine-hero h1 {
    color: var(--color-text-primary);
    margin-left: var(--spacing-xl);
    font-size: var(--font-size-xxl);
}

.medicine-hero p {
    color: var(--color-text-sub1);
    font-size: var(--font-size-base);
    margin-left: var(--spacing-xl);
}

.medicine-search {
    display: flex;
    width: 500px;
    height: 60px;
    background-color: var(--color-background-search);
    font-size: var(--font-size-xxl);
    border: none;
    border-radius: var(--radius-xxl);
    align-items: center;
    margin-right: var(--spacing-xxl);
}

.medicine-search-mobile {
    display: none;
}

.search-icon {
    padding: 10px;
    color: var(--color-text-sub2);
    cursor: pointer;
}

.txt-search {
    color: var(--color-text-primary);
    background-color: transparent;
    border: none;
    width: 320px;
    outline: none;
}

.txt-search::placeholder {
    color: var(--color-text-sub2);
}

#btn-search {
    background-color: var(--color-background-btn);
    border: none;
    border-radius: var(--radius-xxl);
    color: var(--color-text-sub3);
    width: 60px;
    height: 40px;
    margin-left: var(--spacing-xxxl);
    cursor: pointer;
}

/* 의약품 카테고리 */

.medicine-page {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.medicine-inventory {
    display: flex;
    width: 100px;
    height: 52px;
    cursor: pointer;
    flex-direction: column ;
    padding: 0 20px;
}

.medicine-inventory-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.medicine-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.medicine-content h1 {
    color: var(--color-text-sub1);
    font-size: var(--font-size-xxl);
    padding: 12px 12px;
}

.medicine-inventory-active {
    background-color: var( --color-background-secondary);
    border-bottom: 4px solid var(--color-line-primary);
}

.medicine-inventory-active p {
    color: var(--color-text-secondary);
    font-weight: bold;
}

.medicine-inventory:hover {
    background-color: var(--color-background-hover);
}

.medicine-count {
    background-color: var(--color-background-offline);
    color: var(--color-text-offline);
    font-size: var(--font-size-sm);
    margin-left: var(--spacing-xs);
    border-radius: var(--radius-pill);
    padding: 2px 6px;
    height: fit-content;
    padding: var(--spacing-xs) var(--spacing-sm);
}

.medicine-imform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: var(--spacing-lg);
}

.medicine-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.medicine-load {
    color: var(--color-text-sub1);
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
    font-size: var(--font-size-lg);
}

@media (max-width: 768px) {
    .medicine-search-inner {
        display: none;
    }

    .medicine-hero {
        display: flex;
        border-left: none;
        width: 100%;
        height: auto;
        justify-content: center;
        border-bottom: 1px solid var(--color-line-secondary);
    }

    .medicine-search {
        display: none;
    }

    .medicine-search-mobile {
        display: flex;
        margin-top: var(--spacing-sm);
        margin-right: 0;
        margin-bottom: var(--spacing-sm);
        width: 80%;
        height: 40px;
        background-color: var(--color-background-search);
        border: none;
        border-radius: var(--radius-pill);
        font-size: var(--font-size-base);
        justify-content: space-between;
    }

    .search-icon {
        font-size: var(--font-size-lg);
    }

    .txt-search::placeholder {
        font-size: var(--font-size-base);
        padding-left: 10px;
    }

    #btn-search {
        border-radius: var(--radius-pill);
        width: fit-content;
        height: fit-content;
        cursor: pointer;
    }

    /* 의약품 카테고리 */

    .medicine-page {
        display: flex;
        flex-direction: column;
        margin-left: var(--spacing-sm);
    }

    .medicine-inventory {
        width: fit-content;
        height: 100%;
    }

    .medicine-inventory-active {
        background-color: var( --color-background-secondary);
        border-bottom: 2px solid var(--color-line-primary);
    }

    .medicine-inventory-active p {
        color: var(--color-text-secondary);
        font-weight: bold;
    }

    .medicine-inventory:hover {
        background-color: var(--color-background-hover);
    }

    .medicine-content h1 {
        padding: var(--spacing-sm) var(--spacing-xs);
        font-size: var(--font-size-lg);
    }

    .medicine-imform {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: var(--spacing-md);
    }
}
