.bottomsheet {
    display: none;
    z-index: var(--z-tooltip);
    transition: height 0.3s ease;
    overflow: hidden;
    user-select: none;
}

.bottomsheet-header {
    display: flex;
    background-color: var(--color-background);
    border: none;
    border-top-left-radius: var(--radius-xl);
    border-top-right-radius: var(--radius-xl);
    text-align: center;
    align-items: center;
    width: 100%;  
    height: 40px;
}

.bottomsheet-header > hr  {
    width: 40px;
    height: 10px;
    background-color: var(--color-line-secondary);
    border-style: none;
    border-radius: var(--radius-pill);
    margin: auto;
}

.bottomsheet-body {
    display: block;
    background-color: var(--color-background);
    width: 100%;
    height: calc(100% - 20px);
    overflow-y: scroll;
}

.bottomsheet-body::-webkit-scrollbar {
    width: 5px;
    height: auto;
}

.bottomsheet-body::-webkit-scrollbar-button {
    display: none;
}

.bottomsheet-body::-webkit-scrollbar-thumb {
    background-color: var(--color-line-secondary);
    border-radius: var(--radius-pill);
}

.bottomsheet-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    .bottomsheet {
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
    }
}
